#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

* {
  font-family: 'Inter', sans-serif;
}

.fs-14{
  font-size: 14px;
}

.fs-18{
  font-size: 18px;
}

.mt-70{
  margin-top: 70px;
}

.disabled{
  background-color: #f8f8f8;
}

.card-width {
  width: 18rem;
}

@media screen and (max-width: 1200px) {
  .card-width{
      width: 15rem;
  }
}